<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My async example 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Username" />
      <input type="text" name="password" placeholder="Password" />
      <input type="submit" />
    </form>
    <ul id="userlist"></ul>
  </body>
  <script>
    // Grab the form and fire off this function when submit button is clicked
    document.querySelector("form").onsubmit = function(e) {
      // Prevent page from reloading on submit
      e.preventDefault();

      // Create form structure to populate and send to API
      let formData = new FormData();

      // Grab content from form
      let username = document.querySelector("input[name=username]").value;
      let password = document.querySelector("input[name=password]").value;

      // Populate form
      formData.append("username", username);
      formData.append("password", password);

      // Documentation: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch
      // Async fetch POST request to API
      fetch("/validate_register", {
        method: "POST",
        body: formData
      })
        .then(function(response) {
          console.log("Response turning to readable JSON", response);
          return response.json();
        })
        .then(function(response) {
          console.log("Successful async: ", JSON.stringify(response));
          let query = JSON.stringify(response);
          if (query == "true") {
            console.log("query returned true");
            // Complete submission of form as it passed our preliminary validate_register
            document.querySelector("form").submit();
          } else {
            // User already exists
            alert("User already exists! Try a different username");
          }
        })
        .catch(function(error) {
          console.log("Error in async", error);
        });
    };
  </script>
</html>
